<h2>Eventos</h2>
<hr>

<div class="form-inline">
  <div class="form-group mb-2 d-flex align-items-center">
    <label class="mr-2" style="margin-right: 12px;">Filtro: </label>
    <input type="text" class="form-control" placeholder="buscar" [(ngModel)]="filtroLista" name="filtroLista">
  </div>
</div>

<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th><button type="button" class="btn btn-outline-light btn-sm" (click)="alterarImagem()">{{!mostrarImagem ? 'Exibir' : 'Ocultar'}}</button></th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let evento of eventosFiltrados">
      <td><img *ngIf="mostrarImagem" src="../../assets/registerImage.png" width="50px" [style.width.px]="100" [style.margin.px]="2"></td>
      <td>{{evento.eventoId}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lote}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm">Editar</button>
        <button type="button" class="btn btn-danger btn-sm m-2">Excluir</button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr *ngIf="eventosFiltrados.length === 0">
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>
